.node-red/lib/flows/testfile_chatbot.json
[{"id":"ae7d3716.343028","type":"watson-conversation-v1","z":"a4941e4f.6327a","name":"My Bot","workspaceid":"5e4bc4f8-3c2e-4429-8419-4c1a448fd669","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":528,"y":611,"wires":[["e4f9ccaf.e6146"]]},{"id":"c7828e17.acd4f","type":"http in","z":"a4941e4f.6327a","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":288,"y":258,"wires":[["db458983.b9d9c8"]]},{"id":"db458983.b9d9c8","type":"template","z":"a4941e4f.6327a","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t Kautilya I\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Kautilya I</h1> <p></p>\n      <h3>Consignment Transfer Bot</h3><p></p><p></p>\n       <h4>Arka is working on the IBM Watson Conversation backend. I might be a little off tune.</h4><p></p><p></p>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":460,"y":324,"wires":[["c6f801c.35d01"]]},{"id":"c6f801c.35d01","type":"http response","z":"a4941e4f.6327a","name":"","x":639,"y":369,"wires":[]},{"id":"e69306a.7d068f8","type":"http in","z":"a4941e4f.6327a","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":272,"y":448,"wires":[["81d7a75.0f37858"]]},{"id":"dab30a5c.90dcb8","type":"http response","z":"a4941e4f.6327a","name":"","x":1100,"y":384,"wires":[]},{"id":"81d7a75.0f37858","type":"function","z":"a4941e4f.6327a","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":536,"wires":[["ae7d3716.343028"]]},{"id":"e4f9ccaf.e6146","type":"function","z":"a4941e4f.6327a","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":654,"wires":[["a635e298.6e0d9","dab30a5c.90dcb8","d5046bc5.132788"]]},{"id":"a635e298.6e0d9","type":"function","z":"a4941e4f.6327a","name":"","func":"var $class = \"\\\"class\\\"\"; \nvar nameclass = \"org.eric.mycompanynetwork.Move\";\nvar material = \"\\\"material\\\"\";\nvar namematerial = msg.payload.botresponse.messageout.context.Asset;\nvar newOwner = \"\\\"newOwner\\\"\";\nvar namenewOwner = msg.payload.botresponse.messageout.context.Participant;\n$class=$class.concat(nameclass,material,namematerial,newOwner,namenewOwner);\n\nvar obj = {\"material\":namematerial, \"newOwner\":namenewOwner,\"$class\":nameclass};\nconsole.log(obj);\n\nmsg.payload=obj;\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":926.5,"y":542,"wires":[["94d759ec.f49408"]]},{"id":"94d759ec.f49408","type":"http request","z":"a4941e4f.6327a","name":"","method":"POST","ret":"txt","url":"http://localhost:3000/api/org.eric.mycompanynetwork.Move","tls":"","x":1086,"y":547,"wires":[[]]},{"id":"d5046bc5.132788","type":"debug","z":"a4941e4f.6327a","name":"","active":true,"console":"false","complete":"false","x":1072.5,"y":633,"wires":[]}]