.node-red/flows_djblockchain.json
[{"id":"a4941e4f.6327a","type":"tab","label":"Flow 1"},{"id":"57d654e3.03489c","type":"tab","label":"Flow 2"},{"id":"6b249a18.b031d4","type":"ui_group","z":"","name":"Submit Transaction","tab":"a27160a3.877af","disp":true,"width":"6"},{"id":"6eb55464.bc969c","type":"ui_group","z":"","name":"Asset","tab":"e6917c12.7d81d","disp":false,"width":"6"},{"id":"c2146c84.a29a","type":"ui_group","z":"","name":"Create Mover","tab":"1275f199.b112ce","disp":true,"width":"6"},{"id":"a27160a3.877af","type":"ui_tab","z":"","name":"Transact","icon":"create"},{"id":"e6917c12.7d81d","type":"ui_tab","z":"","name":"Create Asset","icon":"dashboard"},{"id":"1275f199.b112ce","type":"ui_tab","z":"","name":"Create Mover","icon":"dashboard Mover"},{"id":"2a13c8a.f96d738","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ae7d3716.343028","type":"watson-conversation-v1","z":"a4941e4f.6327a","name":"My Bot","workspaceid":"5e4bc4f8-3c2e-4429-8419-4c1a448fd669","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":384,"y":428,"wires":[["e4f9ccaf.e6146"]]},{"id":"c7828e17.acd4f","type":"http in","z":"a4941e4f.6327a","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":144,"y":75,"wires":[["db458983.b9d9c8"]]},{"id":"db458983.b9d9c8","type":"template","z":"a4941e4f.6327a","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t Kautilya I\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Kautilya I</h1> <p></p>\n      <h3>Consignment Transfer Bot</h3><p></p><p></p>\n       <h4>Arka is working on the IBM Watson Conversation backend. I might be a little off tune.</h4><p></p><p></p>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":316,"y":141,"wires":[["c6f801c.35d01"]]},{"id":"c6f801c.35d01","type":"http response","z":"a4941e4f.6327a","name":"","x":495,"y":186,"wires":[]},{"id":"e69306a.7d068f8","type":"http in","z":"a4941e4f.6327a","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":128,"y":265,"wires":[["81d7a75.0f37858"]]},{"id":"dab30a5c.90dcb8","type":"http response","z":"a4941e4f.6327a","name":"","x":956,"y":201,"wires":[]},{"id":"81d7a75.0f37858","type":"function","z":"a4941e4f.6327a","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":353,"wires":[["ae7d3716.343028"]]},{"id":"e4f9ccaf.e6146","type":"function","z":"a4941e4f.6327a","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":471,"wires":[["a635e298.6e0d9","dab30a5c.90dcb8","d5046bc5.132788"]]},{"id":"a635e298.6e0d9","type":"function","z":"a4941e4f.6327a","name":"","func":"var $class = \"\\\"class\\\"\"; \nvar nameclass = \"org.eric.mycompanynetwork.Move\";\nvar material = \"\\\"material\\\"\";\nvar namematerial = msg.payload.botresponse.messageout.context.Asset;\nvar newOwner = \"\\\"newOwner\\\"\";\nvar namenewOwner = msg.payload.botresponse.messageout.context.Participant;\n$class=$class.concat(nameclass,material,namematerial,newOwner,namenewOwner);\n\nvar obj = {\"material\":namematerial, \"newOwner\":namenewOwner,\"$class\":nameclass};\nconsole.log(obj);\n\nmsg.payload=obj;\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":782.5,"y":359,"wires":[["94d759ec.f49408"]]},{"id":"94d759ec.f49408","type":"http request","z":"a4941e4f.6327a","name":"","method":"POST","ret":"txt","url":"http://localhost:3000/api/org.eric.mycompanynetwork.Move","tls":"","x":942,"y":364,"wires":[[]]},{"id":"d5046bc5.132788","type":"debug","z":"a4941e4f.6327a","name":"","active":true,"console":"false","complete":"false","x":928.5,"y":450,"wires":[]},{"id":"94f9d409.4ea688","type":"ui_form","z":"57d654e3.03489c","name":"Transaction","label":"Transaction Details","group":"6b249a18.b031d4","order":2,"width":0,"height":0,"options":[{"label":"$class","value":"$class","type":"text","required":true},{"label":"material","value":"material","type":"text","required":true},{"label":"newOwner","value":"newOwner","type":"text","required":true}],"formValue":{"$class":"","material":"","newOwner":""},"payload":"","topic":"","x":190,"y":140,"wires":[["b29969c8.a181c8"]]},{"id":"b29969c8.a181c8","type":"http request","z":"57d654e3.03489c","name":"","method":"POST","ret":"txt","url":"http://localhost:3000/api/org.eric.mycompanynetwork.Move","tls":"","x":474,"y":139,"wires":[[]]},{"id":"c9f57f9a.9cbff","type":"ui_form","z":"57d654e3.03489c","name":"Asset Details","label":"Asset Details","group":"6eb55464.bc969c","order":1,"width":0,"height":0,"options":[{"label":"$class","value":"$class","type":"text","required":true},{"label":"codeQR","value":"codeQR","type":"text","required":true},{"label":"description","value":"description","type":"text","required":false},{"label":"mainExchange","value":"mainExchange","type":"text","required":false},{"label":"quantity","value":"quantity","type":"number","required":true},{"label":"owner","value":"owner","type":"text","required":true}],"formValue":{"$class":"","codeQR":"","description":"","mainExchange":"","quantity":"","owner":""},"payload":"","topic":"","x":189,"y":226,"wires":[["ae92806.207748"]]},{"id":"ae92806.207748","type":"http request","z":"57d654e3.03489c","name":"","method":"POST","ret":"txt","url":"http://localhost:3000/api/org.eric.mycompanynetwork.Consignment","tls":"","x":481,"y":227,"wires":[[]]},{"id":"66e3fe65.74173","type":"ui_form","z":"57d654e3.03489c","name":"Mover Details","label":"Mover Details","group":"c2146c84.a29a","order":1,"width":0,"height":0,"options":[{"label":"$class","value":"$class","type":"text","required":true},{"label":"moverId","value":"moverId","type":"text","required":true},{"label":"firstName","value":"firstName","type":"text","required":false},{"label":"lastName","value":"lastName","type":"text","required":false}],"formValue":{"$class":"","moverId":"","firstName":"","lastName":""},"payload":"","topic":"","x":192,"y":328,"wires":[["98f5937c.c6d2"]]},{"id":"98f5937c.c6d2","type":"http request","z":"57d654e3.03489c","name":"","method":"POST","ret":"txt","url":"http://localhost:3000/api/org.eric.mycompanynetwork.Mover","tls":"","x":488,"y":328,"wires":[[]]}]